<template>
  <div class="d-flex flex-column justify-start">
    <div class="d-flex">
      <span class="text-tial">Add new one</span>
    </div>
    <div class="d-flex flex-column mt-12 justify-space-around">
      <v-text-field v-model="title" color="teal" outlined type="text" label="title"></v-text-field>
      <v-text-field v-model="discr" color="teal" outlined type="textarea" label="description"></v-text-field>
      <v-select v-model="seldw" :items="dayWeek" item-text="text" item-value="val" color="teal" outlined
                label="Today"></v-select>
    </div>
    <div class="d-flex justify-center">
      <v-btn color="teal" @click="addTodo" width="150" dark>Add</v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({})

export default class addTodo extends Vue {
  title: string = '';
  discr: string = '';
  dayWeek: Array<Object> = [
    {text: 'today', val: 0},
    {text: 'tomorrow', val: 1}
  ];
  seldw: number = 0;

  async addTodo() {
    await this.$store.dispatch('todo/setTodo', {title: this.title, discr: this.discr, seldw: this.seldw}).then(flag =>{
      if(flag === true){
        this.title = '';
        this.discr = '';
      }
    });

  }
}

</script>
