<template>
    <v-container class="h-100">
        <div class="d-flex" style="height: 100%;">
            <v-row justify="center" class="pt-12">
                <v-col lg="3" md="3" cols="12" class="d-flex flex-column mr-10">
                  <addTodo></addTodo>
                </v-col>
                <v-col lg="3" md="3" cols="12" class="d-flex backGray">
                   <todo-today></todo-today>
                </v-col>
                <v-col lg="3" md="3" cols="12" class="d-flex">
                  <todoTomorrow></todoTomorrow>
                </v-col>
            </v-row>     
        </div>   
    </v-container>
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import addTodo from '../../components/todo/addTodo/addTodo'
import todoToday from '@/components/todo/todoToday/todoToday'
import todoTomorrow from '@/components/todo/todoTomorrow/todoTomorrow'
@Component({
  components: {
    addTodo,todoToday,todoTomorrow
  },
})

export default class toDo extends Vue {

}
</script>
<style scoped>

    .backGray{
        background-color: #C4C4C4;
    }
    .w-100{
        width: 100%;
    }
    .h-100{
      height: 100%;
    }
</style>