<template>
  <div class="d-flex flex-column" style="height: 100%; width:100%" >
    <div class="d-flex">
      <span class="text-tial">My tomorrow todo</span>
    </div>
    <div class="d-flex mt-12 flex-column flex-grow-2" style="height: 80%">
      <v-card class="rounded-xl"  width="100%" v-for="(item, index) in list" :key="index" :class="(index !== 0)?'mt-4':''">
        <v-card-title>
          <span class="title" v-html="item.title"></span>
          <v-spacer></v-spacer>
          <v-checkbox color="teal" v-model="item.flag" @change="setSuccessTodo(index)" :disabled="item.flag"></v-checkbox>
          <v-icon color="red" @click="$store.dispatch('todo/delTodo', index)">mdi-delete</v-icon>
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1 text-justify">{{item.discr}}</div>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Watch,Vue } from 'vue-property-decorator';

@Component({
  name: 'todoTomorrow',
})
export default class todoTomorrow extends Vue{
  @Watch('list')
  onlist(){
    return this.$store.getters['todo/todoTomorrow'];
  }
  get list(){
    return this.$store.getters['todo/todoTomorrow'];
  }
  setSuccessTodo(index){
    this.$store.dispatch('todo/setSuccessTodo', index)
  }
}
</script>
