<template>
  <div class="d-flex flex-column" style="height: 100%; width:100%" >
    <div class="d-flex">
      <span class="text-tial">My today todo</span>
    </div>
    <div class="mt-12" style="height: 600px; overflow-y:auto">
      <v-card width="100%" class="rounded-xl" v-for="(item, index) in list" :key="index" :class="(index !== 0)?'mt-4':''">
        <v-card-title>
          <span class="title" v-html="item.title"></span>
          <v-spacer></v-spacer>
          <v-checkbox color="teal" v-model="item.flag" @change="setSuccessTodo(index)" :disabled="item.flag"></v-checkbox>
          <v-icon color="red" @click="$store.dispatch('todo/delTodo', index)">mdi-delete</v-icon>
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1 text-justify">{{item.discr}}</div>
        </v-card-text>
      </v-card>
    </div>
    <div class="d-flex flex-grow-1 justify-center mt-12" style="height: 40%">
      <v-btn dark @click="setSuccessTodoAll" color="teal" class="text-uppercase" block>SET ALL COMPLETE</v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Watch,Vue } from 'vue-property-decorator';

@Component({
    name: 'Todotoday',
})
export default class Todotoday extends Vue {
  @Watch('list')
  onlist(){
    return this.$store.getters['todo/todoToday'];
  }
  get list(){
    return this.$store.getters['todo/todoToday'];
  }
  setSuccessTodo(index){
    this.$store.dispatch('todo/setSuccessTodo', index)
  }
  setSuccessTodoAll(){
    this.$store.dispatch('todo/setSuccessTodoAll')
  }
}
</script>

