<template>
  <v-app style="height: 100%">
    <v-main>
      <router-view />
    </v-main>
    <v-snackbar
        v-model="snack.flag"
        :timeout="3000"
        :color="snack.color"
        top
        right
    >
      {{ snack.text }}

      <template v-slot:action="{ attrs }">
        <v-btn
            dark
            icon
            v-bind="attrs"
            @click="$store.dispatch('alert/act_snackbar',{flag:false, text:'', color:''})"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import {mapGetters} from "vuex";
// import HelloWorld from './components/HelloWorld.vue';
//
// @Component({
//   components: {
//     HelloWorld,
//   },
// })
@Component({
  computed:{
    ...mapGetters({
      snack:'alert/get_snackbar'
    })
  }
})
export default class App extends Vue {
}
</script>

<style lang="scss">
.text-tial {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #025B6F;
}
body{
  background-color: #F2F2F2 !important;
}
#app {
  background-color: #F2F2F2 !important;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
